.ArticleDetails {
  min-height: 100%;
  flex: 0 0 auto;
}

.loading {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.avatarWrapper {
  width: 100%;
  justify-content: center;
  display: flex;
}

.block {
  margin-top: 16px;
}

.avatar {
  align-self: center;
  margin-bottom: 20px;
}

.articleInfo {
  display: flex;
  gap: 10px;
}
