.app.light {
  --bg-color: #dcdbdb;
  --inverted-bg-color: #0000c4;

  --primary-color: #0239ab;
  --secondary-color: #0859d3;

  --inverted-primary-color: #238800;
  --inverted-secondary-color: #18c200;
}